@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html{
    margin-top: 0%;
    background-color: blue;
}

header{
    margin: 0%;
    margin-top: 0%;
}

body,main{
    margin: 0%;
    margin-top: 0%;
}

/* Main */

.container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .row{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.container .row .col-33{
    width: 30%;
    height: 40vh;
}

.container .row .col-33 figure{
    width: 75%;
    margin: 0;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .row .col-33 figure img{
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;
    margin-top: 20px;
    border-radius: 37px;
}

.container .row .col-33 h2{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    color: white;
    font-size: 1rem;
}

.container .row .col-33 p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1rem;
}

.container .row .col-33 a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    text-decoration: none;
    color: black;
}

.container .row .col-33 a:hover{
    color: rgb(255, 0, 0);
}

.container2{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container2 .row2{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container2 .row2 .col-50{
    width: 60%;
    height: 53vh;
    border: white;
    background-color: rgb(8, 0, 114);
    border-radius: 9px;
}

.container2 .row2 .col-50 div{
    width: 80%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: 95px;
    margin-top: 30px;
}

.container2 .row2 .col-50 div h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1.5rem;
    margin-top: 20px;
    margin: 0%;
    padding: 0%;
    color: white;
}

.container2 .row2 .col-50 div h2:nth-child(2){
    margin-bottom: 30px;
}

.container2 .row2 .col-50 div p{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'RocknRoll One', sans-serif;
    font-size: 1rem;
    color: white;
}

.container2 .row2 .col-50 div button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 35px;
    border-radius: 6px;
    border: none;
    font-size: 1.5rem;
    background-color: rgb(31, 158, 158);
    color: white;
}

.container2 .row2 .col-50 div button:hover{
    color: white;
    background-color: rgb(3, 1, 39);
    cursor:pointer;
}

/* Fin del main */









